nav {
  background: #202020;
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  border-bottom: 1.5px solid #343434;
  gap: 2rem;
}

nav > div {
  flex-grow: 1;
  max-width: 600px;
  margin: 0 auto;
  transform: translateX(-8%);
}

@media (max-width: 450px) {
  nav svg {
    display: none;
  }
}

@media (max-width: 1024px) {
  nav > div {
    transform: translateX(0);
  }
}
