.video-container {
  min-height: calc(100vh - 61.5px);
  background: #181818;
  padding: 3rem 2.1rem;
  display: grid;
  justify-content: center;
  row-gap: 6rem;
  column-gap: 2rem;
}

.video-container h1 {
  color: #fff;
  text-align: center;
}

@media (min-width: 650px) {
  .video-container {
    grid-template-columns: repeat(2, auto);
  }
}

@media (min-width: 950px) {
  .video-container {
    grid-template-columns: repeat(3, auto);
  }
}

@media (min-width: 1250px) {
  .video-container {
    grid-template-columns: repeat(4, auto);
  }
}
